<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote User</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <style>
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .flex-item{
            flex-grow: 1;
            margin: 50px;
            max-width: 300px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card flex-item" style="width: 18rem;" th:each="candidate: ${candidates}">
        <img class="card-img-top" src="..." alt="Card image cap" th:src="@{${candidate.profileUrl}}">
        <div class="card-body">
            <h5 class="card-title" th:text="${candidate.name}"></h5>
            <p class="card-text" th:text="|Votes: ${candidate.votes}|"></p>
            <form th:action="@{/client/vote/{id} (id=${candidate.id})}" method="post">
                <button type="submit" formmethod="post" class="btn btn-success">Vote</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>